<ion-header>
  <ion-navbar color="primary">
    <ion-title>{{ listName | placeholder:'New List' }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-card-header>
      <ion-item>
        <ion-label floating>List Name</ion-label>
        <ion-input type="text" [(ngModel)]="listName" name="listName"></ion-input>
      </ion-item>
    </ion-card-header>

    <ion-card-content>
      <ion-item>
        <ion-label floating>Item</ion-label>
        <ion-input type="text" [(ngModel)]="itemName" name="itemName"></ion-input>
      </ion-item>

      <button ion-button>Save</button>
    </ion-card-content>
  </ion-card>
</ion-content>
