<ion-header>
  <ion-navbar color="primary">
    <ion-title>ionic Task Scheduler</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <!-- <h1>
    <li *ngFor="let list of _wishList.lists">
      {{list.name}}
    </li>
  </h1> -->

  <ion-card *ngFor="let list of _wishList.lists">
    <ion-item>
      <h2>{{ list.name }}</h2>
    </ion-item>

    <ion-list>
      <ion-item>
        <ion-icon ios="ios-arrow-dropright-circle" md="md-arrow-dropright-circle"></ion-icon>
        Tetris
      </ion-item>
      <ion-item>
        <ion-icon ios="ios-arrow-dropright-circle" md="md-arrow-dropright-circle"></ion-icon>
        Tetris
      </ion-item>
      <ion-item>
        <ion-icon ios="ios-arrow-dropright-circle" md="md-arrow-dropright-circle"></ion-icon>
        Tetris
      </ion-item>
    </ion-list>
  </ion-card>

  <ion-fab right bottom>
    <button ion-fab color="primary" (click)="addNewList()">
      <ion-icon ios="ios-add" md="md-add"></ion-icon>
    </button>
  </ion-fab>
</ion-content>
